<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="1.0.0" targetFramework="net452" />
  <package id="EventHook" version="1.4.39" targetFramework="net46" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net46" />
  <package id="SFML.Net" version="2.1.5" targetFramework="net452" />
  <package id="zmland.Win32" version="1.4.0.0" targetFramework="net46" />
</packages>